@css {
	/*
		Hoja de estilos de la página Poema Panorámico
		Author: Nodo
		Author URL: http://nodo.pw/
		Version: 1.0
		*/
}

/* <---------- Valores Stylus ----------> */
@import "valoresDefault.styl"

el_color = #141414
fondo = #0C0C0C
resaltado = #F4970C
links = #F4970C
casiBlanco = #EFEFEF
f__thin = 'geniusthin', sans;
f__familia = 'martaregular', serif
f__uno = 16px

/* <---------- Secciones semánticas ----------> */

/* Lato */
@font-face
	font-family: 'geniusthin';
	src: url('../assets/fonts/Genius-100-Thin-webfont.eot');
	src: url('../assets/fonts/Genius-100-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Genius-100-Thin-webfont.woff2') format('woff2'), url('../assets/fonts/Genius-100-Thin-webfont.woff') format('woff'), url('../assets/fonts/Genius-100-Thin-webfont.ttf') format('truetype'), url('../assets/fonts/Genius-100-Thin-webfont.svg#geniusthin') format('svg');
	font-weight: normal;
	font-style: normal;

/* martaregular */
@font-face
	font-family: 'martaregular';
	src: url('../assets/fonts/marta_regular-webfont.eot');
	src: url('../assets/fonts/marta_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/marta_regular-webfont.woff2') format('woff2'), url('../assets/fonts/marta_regular-webfont.woff') format('woff'), url('../assets/fonts/marta_regular-webfont.ttf') format('truetype'), url('../assets/fonts/marta_regular-webfont.svg#martaregular') format('svg');
	font-weight: normal;
	font-style: normal;

/* martabold */
@font-face
	font-family: 'martabold';
	src: url('../assets/fonts/marta_bold-webfont.eot');
	src: url('../assets/fonts/marta_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/marta_bold-webfont.woff2') format('woff2'), url('../assets/fonts/marta_bold-webfont.woff') format('woff'), url('../assets/fonts/marta_bold-webfont.ttf') format('truetype'), url('../assets/fonts/marta_bold-webfont.svg#martabold') format('svg');
	font-weight: normal;
	font-style: normal;

/* DFPanoram */
@font-face
	font-family: 'DFPanoram';
	src:url('../generales/fonts/DFPanoram.eot?wgy3j3');
	src:url('../generales/fonts/DFPanoram.eot?wgy3j3#iefix') format('embedded-opentype'), url('../generales/fonts/DFPanoram.ttf?wgy3j3') format('truetype'), url('../generales/fonts/DFPanoram.woff?wgy3j3') format('woff'), url('../generales/fonts/DFPanoram.svg?wgy3j3#DFPanoram') format('svg');
	font-weight: normal;
	font-style: normal;

*,
*:before,
*:after
	box-sizing: border-box;
	border 0
	font-family inherit
	font-size 100%
	font-style inherit
	font-weight inherit
	margin 0
	outline 0
	padding 0
	vertical-align top
	&:focus
		outline 0

::-moz-selection
	background rgba(0,0,0,0)
	color blanco
	sombrat rgba(0,0,0,1) 1px 1px 0px
	text-shadow none

::selection
	background rgba(0,0,0,0)
	color blanco
	sombrat rgba(0,0,0,1) 1px 1px 0px
	text-shadow none

[class^="dfpan-"],
[class*=" dfpan-"]
	font-family: 'DFPanoram';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


a 
	color links
	text-decoration none
	img
		border 0
	&:focus, &:active, &:hover
		text-decoration underline

blockquote, q
	quotes "" ""
	&:before, &:after
		content ""

body
	bg fondo
	color el_color
	font f__uno f__familia
	inter 1.2em
	width 100%

button
	border none
	background none
	cursor pointer !important
	-webkit-appearance:none 

caption, th, td
	font-weight normal
	text-align left

em
	italic()

fieldset
	border none

h1
	color casiBlanco
	font 2.5rem f__thin
	margin-bottom 0.5em

html
	font f__uno f__familia
	font-size 100%
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%

input,
textarea
	bg none
	border none
	box-sizing: border-box;
	padding 1rem

img
	max-width 100%
	// height auto
	vertical-align top
		
ol, ul
	list-style none

// p:not(:first-of-type)
// 	text-indent: 1em
p
	inter 1.2em

strong
	bold()

svg:not(:root)
	overflow: hidden;

table
	border-collapse separate
	border-spacing 0

/* <---------- ID's ----------> */

#interactivo
	opacity 0
	z-index: 2
	&.visible
		opacity 1

#intro
	bg fondo
	flex()
	flex-direction(column)
	z-index: 3
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	&.oculto
		opacity 0
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		-ms-transform: scale(1.4);
		transform: scale(1.4);

/* <---------- Classes ----------> */

.atras
	z-index: -1 !important

.audio
	height 2.5rem
	padding-left 1rem
	audio
		opacity 0
		height 0
		width 0

.contenido
	absolute()
	left 50%
	top 50%
	height: 100vh;
	width: 100vw;
	transform:translate(-50%,-50%)
	-ms-transform:translate(-50%,-50%)
	-webkit-transform:translate(-50%,-50%)

.controles
	fixed()
	bottom 0
	left 0
	width 100vw
	z-index 2
	height 1rem
	overflow visible
	flex()
	align-items(flex-end)
	justify-content(space-between)

.dfpan-pause_circle_filled:before
	content: "\e019";
.dfpan-play_circle_filled:before
	content: "\e01c";
.dfpan-filter_center_focus:before
	content: "\e171";
.dfpan-flare:before
	content: "\e178";
.dfpan-sign-out:before
	content: "\f08b";

.drag
	position absolute
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;

.flip-container
	alineados top
	perspective: 1000px;
	&.cambio .flipper
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	.flipper
		width 2rem
		line-height 1em
		color resaltado
		font-size 2rem
		sombrat rgba(255,255,255,1) 1px 1px 0px
		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;
		-webkit-transform-origin center
		transition: 0.6s;
		transform-style: preserve-3d;
		transform-origin center
		position: relative;
	.back,
	.front
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	.back
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	.front
		z-index: 2;
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);

.fondo
	flex()
	flex-direction(flex-start)
	flex-wrap(wrap)
	cursor move
	img
		background url("../generales/imgs/rolling.svg") no-repeat center center
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;

.full
	absolute()
	height 100vh
	left 0
	top 0
	width 100vw
	overflow hidden

.indicacion
	flex()
	talign center
	align-items(center)
	justify-content(center)
	color casiBlanco
	sombrat rgba(0,0,0,1) 1px 1px 0px
	opacity 0
	&.visible
		-webkit-animation: aparece 2s ease 1
		animation: aparece 2s ease 1
	&.oculto
		opacity 0
	p
		block()
		font 1.2rem f__thin

.intro--btn
	height 80vh
	padding 1rem
	text-align center
	figure
		height 100%
		width 100%
		flex()
		align-items(center)
		justify-content(center)
		flex-direction(column)
	img
		width 100%

.intro__entrar
	color casiBlanco
	font 2rem f__thin
	margin-top 0.5em
	&:hover
		color resaltado

.intro--footer
	color casiBlanco
	font 0.85rem f__thin
	height 20vh
	padding 1rem
	flex()
	flex-direction column
	justify-content(flex-end)
	p
		margin-bottom 0.5em

.main
	block()
	flex: 1;

.mapa
	align-self(flex-end)
	margin 0 1rem 1rem 0
	-webkit-flex-grow 1
	flex-grow 1

.mapa--area
	bg rgba(0,0,0,0.3)
	border 1px solid negro
	relative()
	float right

.mapa--poemas
	relative()
	width 100%
	height 100%
	block()

.mapa--punto
	absolute()
	bg resaltado
	height 1px
	width 1px

.mapa--ubic
	absolute()
	bg rgba(244, 151, 12, 0.5)
	border 1px solid rgb(244, 151, 12)
	right 0
	bottom 0

.naranja
	color resaltado

.poema
	absolute()

.poema--punto
	font-size 3rem
	height 3rem
	width 3rem
	text-align center
	inter 0
	cursor pointer
	position relative
	z-index 1
	span
		block()
		absolute()
		left 0
		top 50%
		font-size 3rem
		height 0rem
		width 3rem
		text-align center
		inter 0
		padding 0
		-webkit-transform-origin center center
		transform-origin center center
		&:first-of-type
			color resaltado
			-webkit-animation: giro 3.5s ease infinite
			animation: giro 3.5s ease infinite
		&:nth-of-type(2)
			color rgba(244, 151, 12, 0.7)
			-webkit-animation: giro 3.5s linear infinite
			animation: giro 3.5s linear infinite

.poema--content
	absolute()
	opacity 0
	font-size 1.15rem
	left 50%
	padding 0
	round 0.2rem
	sombrat rgba(0,0,0,1) 1px 1px 0px
	top 50%
	width auto
	min-width 600px
	max-width 200vw
	max-height 0
	overflow hidden
	z-index 0
	-webkit-transform-origin bottom left
	transform-origin bottom left
	transform:translate(-2.5rem,-120%)
	-ms-transform:translate(-2.5rem,-120%)
	-webkit-transform:translate(-2.5rem,-120%)
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	&.visible
		opacity 1
		max-height: 100vh;
		padding 1rem

.poema--texto
	p
		color blanco
		sombrat rgba(0,0,0,1) 1px 1px 0px

.poema--cerrar
	hide()
	float: right;
	color resaltado
	font-size 1.4rem
	&:hover
		color el_color

.poemas
	absolute()
	left 0
	top 0
	z-index: 1;

.regresar
	bg resaltado
	color blanco
	font 1rem f__thin
	// height 2.5rem
	margin-bottom 0.7rem
	margin-left 0.5rem
	round 0.4rem
	sombra rgba(255,255,255,1) 1px 1px 0px
	span
		font-size 1.2rem
		display inline-block
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);

.section
	height: 100vh

._oculto
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	&.focusable:active, &.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto


@-webkit-keyframes aparece
	30%,
	70%
		opacity 1
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	100%
		opacity 0
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		-ms-transform: scale(1.4);
		transform: scale(1.4);

@keyframes aparece
	30%,
	70%
		opacity 1
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	100%
		opacity 0
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		-ms-transform: scale(1.4);
		transform: scale(1.4);


@-webkit-keyframes giro
	100%
		rotar(360deg)

@keyframes giro
	100%
		rotar(360deg)

/* Móbiles */
@media screen and (max-width: 767px)
	h1
		font-size 2rem
	.intro__entrar
		font-size 1.5rem

@media screen and (max-width: 500px)
	.audio
		flex_order(-1)
	.intro--btn,
	.intro--footer
		height 50vh
	.poema--content
		font-size 0.9rem
		transform:translate(-40vw,-120%)
		-ms-transform:translate(-40vw,-120%)
		-webkit-transform:translate(-40vw,-120%)
	.controles
		height auto
		flex-direction(column)
		padding 0.5rem
	.mapa
		margin 0
	.poema--punto
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);