@css {
	/*
		Theme Name: 
		Author: Nodo
		Author URI: http://nodo.pw/
		Description: Hoja de estilos de la página de 
		Version: 1.0
		*/
}

/* <---------- Valores Stylus ----------> */
@import "valoresDefault.styl"

el_color = #141414
fondo = #EFEFEF
resaltado = #F7AA45
links = #515151
f__familia = Helvetica
f__uno = 16px

/* <---------- Secciones semánticas ----------> */

*,
*:before,
*:after
	box-sizing: border-box;
	border 0
	font-family inherit
	font-size 100%
	font-style inherit
	font-weight inherit
	margin 0
	outline 0
	padding 0
	vertical-align top
	&:focus
		outline 0

::-moz-selection
	background resaltado
	color #fff
	text-shadow none

::selection
	background resaltado
	color #fff
	text-shadow none

a 
	color links
	text-decoration none
	img
		border 0
	&:focus, &:active, &:hover
		text-decoration underline

blockquote, q
	quotes "" ""
	&:before, &:after
		content ""

body
	bg fondo
	color el_color
	font f__uno f__familia
	inter 1.2em
	width 100%

button
	border none
	background none
	cursor pointer !important
	-webkit-appearance:none 

caption, th, td
	font-weight normal
	text-align left

em
	italic()

fieldset
	border none

// h1, h2

h1
	fsize 2.5rem

h2
	fsize 2.3rem


html
	font f__uno f__familia
	font-size 100%
	overflow-y scroll
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%

input,
textarea
	bg none
	border none
	box-sizing: border-box;
	padding 1rem

img
	max-width 100%
	height auto
	vertical-align top
		
ol, ul
	list-style none

// p:not(:first-of-type)
// 	text-indent: 1em

strong
	bold()

svg:not(:root)
	overflow: hidden;

table
	border-collapse separate
	border-spacing 0

/* <---------- ID's ----------> */


/* <---------- Classes ----------> */

.main
	block()
	flex: 1;

.section
	height: 100vh

// @import "style--fomulario.styl"
// @import "style--nav.styl"
// @import "style--opcionales.styl"

._oculto
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	&.focusable:active, &.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto