nav_width =			44px;
nav_height =		nav_width * 1.2;
nav_icon_size =	2.5rem;
nav_color =			white;

// Estilos del menú normal
.nav--top
	padding-right 2.64%
	font-size 0
	li
		relative()
		&:not(#menu-item-14),
		&:not(#menu-item-444)
			alineados top
			border-left 1px solid #CCCBCB
			border-right 1px solid #CCCBCB
			text-align center
			width 15.4%
			a
				block()
				font-size f__quince
				f__hnct()
				padding 0.5rem 0
				width 100%
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor
		&.current-menu-parent
			bg azulReflex
			border-left 1px solid azulReflex
			border-right 1px solid azulReflex
			a
				color blanco
				text-decoration none
		&:hover
			.sub-menu
				block()
		&#menu-item-14,
		&#menu-item-444
			alineados top
			border-left none
			border-right 2px solid azulMarino
			height 100%
			padding 0.5rem
			width 40px
			a
				block()
				font-size 0
				height 19px
				margin: 0 auto;
				padding: 0;
				text-align: center;
				width 19px
				&:before
					absolute()
					block()
					content url(imgs/icono.svg)
					height 21px
					width 19px
	.sub-menu
		hide()
		absolute()
		bg azulReflex
		padding 20px 0 10px
		z-index 99
		width 150%
		a
			color blanco
			padding 0.5rem 0.9rem !important
		li
			bg azulReflex
			border-left none !important
			border-right none !important
			display block !important
			text-align left !important
			width 100% !important
			&:hover
				bg rojo

@media screen and (max-width : 650px)
	.nav--top
		color: nav_color;
		cursor: pointer;
		height: nav_height;
		overflow: hidden;
		position: absolute;
		top 1rem
		width 20%
		z-index: 10;
		&:after
			color azulReflex
			content: "☰";
			f__hncb()
			font-size: nav_icon_size;
			left: 5%;
			line-height: 1em;
			position: absolute;
			text-align: left;
			top: 10%;
			height 1em;
			width: 1em;
		// Estilos de los botones en menú responsive
		li
			bg blanco
			relative()
			&:not(#menu-item-14),
			&:not(#menu-item-444)
				border-bottom 1px solid #CCCBCB
				border-left none
				border-right none
				border-top 1px solid #CCCBCB
				display block
				text-align: left;
				width 100%
				a
					padding-left 1rem
			&#menu-item-14,
			&#menu-item-444
				hide()
			a
				relative()
				&:after
					absolute()
					content ''
					bg url(imgs/img_flecha.svg) no-repeat center center
					background-size 100% auto
					height 18px
					right 1.2rem
					rotar 0deg
					top 50%
					transform-origin: center;
					width 18px
					transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					transform:translate(0,-50%)
					-ms-transform:translate(0,-50%)
					-webkit-transform:translate(0,-50%)
		.sub-menu
			relative()
			block()
			padding 0
			z-index 1
			width 100%
			li
				bg blanco
				padding 0 0 0 0.5rem
				width 100% !important
				display inline-block !important
				vertical-align top
				a
					color #515151
					font-size 0.85em
					&:hover
						color blanco
					&:before
						content '- '
					&:after
						height 15px
						width 15px

	.nav--top__list
		height: 80px;
		left:  0;
		list-style: none;
		margin:  0;
		padding: 0;
		//Este padding top baja el contenido respecto a la hamburguesa
		padding-top: 92.6px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	.checkbox-hack__label
		// border 1px solid negro
		cursor: pointer;
		height: nav_height*2;
		left:0;
		margin:0;
		overflow: hidden;
		position: absolute;
		top:0;
		width:  15%;
		z-index: 100;

.checkbox__hack
	display: none;
	&:checked
		& ~ .nav--top
			overflow: visible;
			width 100%
			&:after 
				content:"x";
