<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="shortcut icon" href="assets/imgs/favicon.ico" />
	<link rel="stylesheet" href="css/estilos.css" type="text/css">
	<!-- <link rel="stylesheet" href="css/particulares.css" type="text/css"> -->
	<script src="js/librerias/handlebars-v2.0.0-min.js"></script>
	<!-- Go squared -->
	<script>
	  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
	  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
	  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
	  insertBefore(d,q)}(window,document,'script','_gs');

	  _gs('GSN-770901-W');
	</script>
	<!-- / Go squared -->
</head>

<body>

<div id="panoram"></div>

<script id="contenedor-Template" type="text/x-handlebars-template">

<div id="todo" class="full">
	<div id="intro" class="js--intro full">
		<div class="intro--btn">
			<figure>
				<figcaption>
					<h1>
						{{titulo}}
					</h1>
				</figcaption>
				<img src="{{ruta_imagen_home}}" alt="{{titulo}}">
				<button class="intro__entrar js--intro--btn">
					Entrar
				</button>
			</figure>
		</div>
		<footer class="intro--footer">
			{{{footer}}}
		</footer>
	</div><!-- #intro -->


	<div id="interactivo" class="js--interactivo full">

		<div class="contenido js--contenido">
			<div class="drag js--drag">
	 			<section class="poemas js--poemas">
		 			{{#each poemas}}
						<article class="poema js--poema" data-right="{{this.derecha}}" data-bottom="{{this.abajo}}">
							<button class="poema--punto js--poema--punto">
								<span class="dfpan-filter_center_focus"></span>
								<span class="dfpan-filter_center_focus"></span>
							</button>
							<div class="poema--content js--poema--content">
								<button class="poema--cerrar js--poema--cerrar">
									<span class="dfpan-close"></span>
								</button>
								<div class="poema--texto">
									{{{this.texto}}}
								</div>
							</div>
						</article>
      			{{/each}}
				</section>

				<div class="fondo js--fondo" data-filas="{{fondo.filas}}" data-imagenes="{{fondo.imagenes}}">
					{{#each fondos}}
						<img src="generales/imgs/blank.gif" alt="{{titulo}}" class="lazyload js--fondo--img" data-src="{{this.ruta_imagen}}" data-height="{{this.alto}}" data-width="{{this.ancho}}" height="{{this.alto}}" width="{{this.ancho}}">
      			{{/each}}
				</div>
			</div>
		</div>
		<!-- Indicación -->
		<div class="indicacion js--indicacion full">
			<p>
				<span class="js--texto__indicacion"></span>
			</p>
		</div>

		<!-- Footer -->
		<footer class="controles">
			<button class="regresar js--regresar--btn">
				<span class="dfpan-sign-out"></span> Salir
			</button>
			<div class="audio">
	 			<audio loop class="js--audio">
					<source src="{{ruta_audio}}" type="audio/mpeg">
					Tu explorador no soporta audios :(
				</audio>

				<button data-estado="play" class="js-reproducir">
					<div class="flip-container js-flip-play">
						<div class="flipper">
							<div class="front"><span class="dfpan-pause_circle_filled"></span></div>
							<div class="back"><span class="dfpan-play_circle_filled"></span></div>
						</div>
					</div>
				</button>
			</div>

			<div class="mapa js--mapa">
				<div class="mapa--area js--mapa--area">
					<div class="mapa--poemas js--mapa--poemas"></div>
					<div class="mapa--ubic js--mapa--ubic"></div>
				</div>
			</div>
		</footer>
		<!--fin footer -->

		</script>
		<script src="contenidos-min.js"></script>
		<script>
		function isTouchDevice() {
			return true == ( ('ontouchstart' in window) || (navigator.MaxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0));
			// return true == ( ('ontouchstart' in window) || (navigator.MaxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0) || "ontouchstart" in window || 'onmsgesturechange' in window || window.DocumentTouch && document instanceof DocumentTouch );
		}
		
		// if ( isTouchDevice() !== true )
		if ( isTouchDevice() === true ) {
			if ( window.DeviceOrientationEvent ) {
				document.writeln("<script type='text/javascript' src='js/funciones__ios-min.js'><\/script>");
			} else {
				document.writeln("<script type='text/javascript' src='js/funciones__movil-min.js'><\/script>");
			}
		} else {
			document.writeln("<script type='text/javascript' src='js/funciones-min.js'><\/script>");
		}
		</script>
	</div><!-- #interactivo -->

</div><!-- #todo -->

</body>
</html>